.category-item
  margin-bottom: 60px

.category-item_title
  font-size: 66px
  letter-spacing: 0.07em
  text-transform: uppercase
  color: #27282B
  position: relative
  margin-bottom: 40px

.category-item_title:after
  content: ''
  display: block
  border: 3px solid #C6373B
  width: 1800px
  position: absolute
  top: 50%
  transform: translateY(-50%)
  left: 240px

.category-item_list
  display: flex
  flex-wrap: wrap

.category-item_list-item
  margin: 0 10px
  margin-bottom: 40px