include ../icon/icon
.category-card
  .category-card_decor
    img(src="images/flower.png", alt="flower")
  .category-card_header
    +icon('reduce', true).category-card_icon
    .category-card_tool 
      .category-card_tool-text Лазер Pico-light10
      +icon('massager', true).category-card_tool-icon
  .category-card_info Удаление перманентного макияжа
  a(href="category-item.html").category-card_btn Подробнее