mixin about-prev(positionClass)
  section(class="about-prev about-prev--#{positionClass}")
    .about-prev_wrap
      .about-prev_img
        img(src="images/about-prev.png", alt="foto")
      .about-prev_content
        h2.about-prev_title О нас
        .about-prev_text Образцовое обслуживание, непревзойденный сервис, лучшие продукты и оборудование на рынке - это стандарты нашего салона, которые непосредственно отражают личные ценности и нрав Елены Ракицкой - это дух искренней и внимательной заботы о своем клиенте. Мы полны решимости предоставить наилучший сервис по доступной цене. Мы понимаем людей, которые сталкиваются с финансовыми трудностями в ниши дни, и прилагаем все усилия, чтобы быть максимально конкурентоспособными на рынке, не подвергая риску наше качество и стандарты.
        include ../button/button
        +button('red', 'Больше о салоне', '#') 