.category-item-card
  .category-item-card_img
    img(src="#", alt="image")
  .category-item-card_content
    .category-item-card_content-tools Лазер Pico-light10
    .category-item-card_content-title Лазерный картбоновый пилинг
    .category-item-card_content-text SMAS представляет собой слой волокон эластина и коллагена, который покрывает мимические мышцы. Из-за возрастного уменьшения содержания коллагена кожа обвисает, и появляются морщины, опускаются веки, брови, происходит деформация овала лица, появляется второй подборок. Вполне естественно, что большинству такие внешние изменения не нравятся.
    include ../button/button
    +button('white', 'Записаться', 'item-service.html')