.main-form
  background-image: url('../../images/form-bg.png')
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.main-form_wrap
  max-width: 1170px
  padding: 150px 15px
  margin: 0 auto

.main-form_title
  font-size: 66px
  line-height: 79px
  text-align: center
  letter-spacing: 0.07em
  text-transform: uppercase
  color: #FFFFFF
  margin-bottom: 8px

.main-form_subtitle
  font-size: 20px
  line-height: 140%
  text-align: center
  color: #E0E0E0
  margin-bottom: 80px

.main-form_form
  width: 770px
  margin: 0 auto
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.main-form_form-label:first-child
  width: 400px

.main-form_form-label:nth-child(2)
  width: 300px

.main-form_label-text
  font-size: 16px
  line-height: 145%
  letter-spacing: -0.03em
  color: #FFFFFF
  margin-bottom: 15px

.main-form_form-input
  background: #FFFFFF
  box-shadow: 0px 15px 35px rgba(50, 60, 88, 0.2)
  padding: 16px 30px
  width: 100%
  box-sizing: border-box
  border: none

.main-form_btn
  width 370px
  box-sizing: border-box
  padding: 26px
  text-decoration: none
  display: block
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #FFFFFF
  background-color: #C6373B
  border: 2px solid transparent
  margin: 0 auto
  margin-top: 80px