.page-description
  position: relative
  background: linear-gradient(124.58deg, #3D3D48 6.81%, #070B0C 75.75%)

.page-description_wrap
  max-width: 1170px
  height: 960px
  padding: 0 15px
  margin: 0 auto
  position: relative
  display: flex

.page-description_content
  margin: auto 0
  max-width: 770px
  @media screen and (max-width: 1400px)
    padding-left: 70px

.page-description_title
  font-size: 84px
  line-height: 101px
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF
  margin-bottom: 40px

.page-description_text
  font-size: 16px
  line-height: 160%
  color: #FFFFFF

.page-description_img
  width: 760px
  height: 760px
  position: absolute
  bottom: 0
  right: -250px
  img 
    width: 100%
    height: 100%
    object-fit: cover