mixin page-description(positionClass)
  section(class="page-description page-description--#{positionClass}")
    .page-description_wrap
      include ../social/social
      .page-description_content
        h2.page-description_title О нас
        .page-description_text Образцовое обслуживание, непревзойденный сервис, лучшие продукты и оборудование на рынке - это стандарты нашего салона, которые непосредственно отражают личные ценности и нрав Елены Ракицкой - это дух искренней и внимательной заботы о своем клиенте.
      .page-description_img
        img(src="#", alt="image")