mixin page-description(positionClass)
  section(class="page-description page-description--#{positionClass}")
    include ../social/social
    +social('page-description')
    .page-description_wrap
      .page-description_content
        h2.page-description_title О нас
        .page-description_text Образцовое обслуживание, непревзойденный сервис, лучшие продукты и оборудование на рынке - это стандарты нашего салона, которые непосредственно отражают личные ценности и нрав Елены Ракицкой - это дух искренней и внимательной заботы о своем клиенте.
      .page-description_img
        img(src="images/about-bg.png", alt="image")