.social
  ul.social_list
    li.social_list-item
      a(href="#").social_item-link
        .social_link-icon
          img(src="#", alt="FB")
        .social_link-text Facebook
    li.social_list-item
      a(href="#").social_item-link
        .social_link-icon
          img(src="#", alt="INSTA")
        .social_link-text Instagram