.social
  position: absolute
  left 60px
  top: 50%
  transform: translateY(-50%)
  z-index: 7
  @media screen and (max-width: 1400px)
    left: 20px
  @media screen and (max-width: 768px)
    top: 120px
    left: 50%
    transform: translateX(-50%)

.social_list 
  padding: 0
  margin: 0
  @media screen and (max-width: 768px)
    display: flex
  &-item
    list-style-type: none
  &-item:first-child
    margin-bottom: 45px
    @media screen and (max-width: 768px)
      margin-bottom: 0
      margin-right: 45px

.social_item-link
  text-decoration: none
  font-size: 16px
  line-height: 19px
  color: #ffffff
  display: flex
  flex-direction: column
  align-items: center
  transition: 0.3s
  @media screen and (max-width: 768px)
    flex-direction: row
    align-items: center

.social_link-icon
  width: 28px
  height: 28px
  margin-bottom: 20px
  @media screen and (max-width: 768px)
    margin-bottom: 0
    margin-right: 10px
  svg 
    width: 100%
    height 100%
    fill: #fff
    transition: 0.3s

.social--contact
  .social_link-icon
    svg 
      fill: #27282B
  .social_item-link
    color: #27282B

.social_link-text
  writing-mode: tb-rl
  transform: rotate(180deg)
  @media screen and (max-width: 768px)
    transform: rotate(0)
    writing-mode: lr-tb

.social_item-link:hover
  color: #C6373B
  svg
    fill: #C6373B 