mixin prev-section(positionClass)
  div(class="prev-section prev-section--#{positionClass}")
    include ../social/social
    .prev-section_slider
      img(src="images/main-slide.png", alt="slide").prev-section_slider-item
    .prev-section_wrap
      .prev-section_content
        .prev-section_title
          div Салон красоты
          div Елены Ракицкой
        .prev-section_btn
          include ../button/button
          +button('white', 'Записаться', '#')