.service-card
  .service-card_img
    img(src="#", alt="service")
  ul.service-card_content
    li.service-card_content-icon
      img(src="#", alt="icon")
    li.service-card_content-title Косметология
    li.service-card_content-text Лучшая косметика и заботливые руки
    li.service-card_content-link
      a(href="services-category.html") Подробнее