.button
  width 370px
  box-sizing: border-box
  padding: 26px
  text-decoration: none
  display: block
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.03em;

.button--red
  color: #FFFFFF
  background-color: #C6373B
  border: 2px solid transparent

.button--white
  color: #C6373B
  background-color: #fff
  border: 2px solid transparent