.button
  font-weight: 600
  width 370px
  box-sizing: border-box
  padding: 26px
  text-decoration: none
  display: block
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.03em;
  @media screen and (max-width: 480px)
    width: 260px
    padding: 15px

.button--red
  color: #FFFFFF
  background-color: #C6373B
  border: 2px solid transparent
  transition: 0.3s
  &:hover
    background-color: #ffffff
    border-color: #C6373B
    color: #C6373B

.button--white
  color: #C6373B
  background-color: #fff
  border: 2px solid transparent
  transition: 0.3s
  &:hover
    background-color: #C6373B
    color: #ffffff
    border-color: #fff

.about-prev_content
  .button
    @media screen and (max-width: 1024px)
      margin: 0 auto

.prev-section_btn
  .button
    @media screen and (max-width: 1024px)
      margin: 0 auto

.title-block_content
  .button
    @media screen and (max-width: 1024px)
      margin: 0 auto

.item-service-layout_description-content
  .button
    @media screen and (max-width: 768px)
      margin: 0 auto