.services-block
  background: linear-gradient(124.31deg, #3D3D48 6.81%, #070B0C 75.75%)

.services-block_wrap
  max-width: 1620px
  padding: 150px 15px
  margin: 0 auto

.services-block--services
  .services-block_wrap
    padding-top: 230px
    padding-bottom: 100px

.services-block_title
  font-size: 66px;
  line-height: 79px
  letter-spacing: 0.07em
  text-transform: uppercase
  color: #FFFFFF
  text-align: center
  margin-bottom: 80px
  @media screen and (max-width: 768px)
    font-size: 50px
    line-height: 60px

.services-block_list
  display: flex
  justify-content: space-between
  overflow-x: scroll

.services-block_list-item
  margin-right: 20px

.services-block_list-item:last-child
  margin-right: 0