mixin share(positionClass)
  section(class="share share--#{positionClass}")
    .share_wrap
      .share_img
        img(src="images/share.png", alt="share")
      h2.share_title Акция
      .share_slider-wrap
        .share_slider-arrow-wrap
        ul.share_slider
          li.share_slider-item
            .share_slider-content
              .share_content-img
                img(src="images/banner.png", alt="slide")
          li.share_slider-item
            .share_slider-content
              .share_content-img
                img(src="images/banner_02.jpg", alt="slide")
          li.share_slider-item
            .share_slider-content
              .share_content-img
                img(src="images/banner_03.jpg", alt="slide")