mixin share(positionClass)
  section(class="share share--#{positionClass}")
    .share_wrap
      h2.share_title Акция
      ul.share_slider
        li.share_slider-item
          .share_slider-img
            img(src="#", alt="slide")
          .share_slider-content
            .share_content-img
              img(src="#", alt="slide")
            .share_content-description
              .share_description-title Стрижка -80%
              .share_description-text при заказе макияжа