@font-face 
  font-family: 'MuseoSlab-300'
  src: url('../../fonts/MuseoSlab-300.woff')
  font-weight: 300
  font-style: normal

@font-face 
  font-family: 'MuseoSlab-500'
  src: url('../../fonts/MuseoSlab-500.woff')
  font-weight: 500
  font-style: normal

@font-face 
  font-family: 'MuseoSlab-700'
  src: url('../../fonts/MuseoSlab-700.woff')
  font-weight: 700
  font-style: normal

@font-face 
  font-family: 'MuseoSlab-900'
  src: url('../../fonts/MuseoSlab-900.woff')
  font-weight: 900
  font-style: normal