.nav_list
  padding: 0
  margin: 0
  display: flex
  padding-bottom: 3px
  @media screen and (max-width: 768px)
    position: fixed
    top: 40px
    left: 0
    right: 0
    flex-direction: column
    background: rgba(7,11,12,0.651)
    padding: 50px 0
    z-index: 3
  &-item
    list-style-type: none
    padding-bottom: 3px
    border-bottom: 3px solid transparent
    transition: 0.3s

.nav_item-link
  text-decoration: none
  font-size: 20px
  line-height: 24px
  color: #FFFFFF
  display: block
  background-color: transparent
  transition: 0.3s




.nav--header
  @media screen and (max-width: 768px)
    display: flex
  .nav_item-link
    padding: 67px 20px 20px 20px
    transition: 0.3s
  .nav_list-item:hover
    border-color: #C6373B
    .nav_item-link
      background-color: #C6373B

.nav--footer
  .nav_item-link
    padding: 0px 20px 0px 20px
  .nav_list-item:hover
    border-color: #C6373B


.header--active
  .nav--header
    .nav_item-link
      padding: 20px 20px 20px 20px;