.instagram
  background-color: #E5E5E5
  padding-bottom: 600px
  padding-top: 150px

.instagram_title
  font-size: 66px
  line-height: 79px
  text-align: center
  letter-spacing: 0.07em
  text-transform: uppercase
  color: linear-gradient(166.71deg, #3D3D48 6.81%, #070B0C 75.75%)