extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Rakitskaya || Категория';

block content
	include ../blocks/components/header/header
	main
		.wrapper
			include ../blocks/components/category-item-layout/category-item-layout
			+category-item-layout('category-item')
			include ../blocks/components/main-form/main-form
			+main-form('category-item')
			include ../blocks/components/instagram/instagram
			+instagram('category-item')
	include ../blocks/components/footer/footer