extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Rakitskaya || Контакты';

block content
	include ../blocks/components/header/header
	main
		.wrapper
			.contacts-page
				include ../blocks/components/social/social
				+social('contact')
				include ../blocks/components/contact-block/contact-block
				+contact-block('contact')
	include ../blocks/components/footer/footer