extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Rakitskaya || Главная';

block content
	include ../blocks/components/header/header
	main
		.wrapper
			include ../blocks/components/prev-section/prev-section
			+prev-section('index')
			include ../blocks/components/about-prev/about-prev
			+about-prev('index')
			include ../blocks/components/services-block/services-block
			+services-block('index')
			include ../blocks/components/share/share
			+share('index')
			include ../blocks/components/reviews/reviews
			+reviews('index')
			include ../blocks/components/main-form/main-form
			+main-form('index')
			include ../blocks/components/contact-block/contact-block
			+contact-block('index')
			include ../blocks/components/instagram/instagram
			+instagram('index')
	include ../blocks/components/footer/footer