extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Rakitskaya || Услуги';

block content
	include ../blocks/components/header/header
	main
		.wrapper
	include ../blocks/components/footer/footer