.brand-list
  background-color: #fff

.brand-list_wrap
  max-width: 1170px
  padding: 200px 15px
  margin: 0 auto

.brand-list_title
  font-size: 46px
  line-height: 55px
  color: #000000
  margin-bottom: 80px
  @media screen and (max-width: 1024px)
    text-align: center
  @media screen and (max-width: 768px)
    font-size: 36px
    line-height: 45px

.brand-list_list
  display: flex
  flex-wrap: wrap
  @media screen and (max-width: 1024px)
    justify-content: center