.brand-list
  background-color: #fff

.brand-list_wrap
  max-width: 1170px
  padding: 200px 15px
  margin: 0 auto

.brand-list_title
  font-size: 46px
  line-height: 55px
  color: #000000
  margin-bottom: 80px

.brand-list_list
  display: flex
  flex-wrap: wrap