html 
  scrollbar-color: #c6373b #3d3d48 
  scrollbar-width: thin 

/* width */
::-webkit-scrollbar 
  width: 12px
  height: 7px


/* Track */
::-webkit-scrollbar-track 
  background: #3d3d48


/* Handle */
::-webkit-scrollbar-thumb 
  background: #c6373b
  border-radius: 5px

