mixin price-description(positionClass)
  section(class="price-description price-description--#{positionClass}")
    .price-description_wrap 
      h2.price-description_title Прайс
      .price-description_description Образцовое обслуживание, непревзойденный сервис, лучшие продукты и оборудование на рынке - это стандарты нашего салона, которые непосредственно отражают личные ценности и нрав Елены Ракицкой - это дух искренней и внимательной заботы о своем клиенте.
      .price-description_table
        include ../tabs-table/tabs-table