.price-description
  background-color: #ffffff
  padding-top: 120px

.price-description_wrap 
  max-width: 1170px
  padding: 150px 15px
  margin: 0 auto

.price-description_title
  font-size: 84px
  line-height: 101px
  letter-spacing: 0.07em
  text-transform: uppercase
  color: #27282B
  margin-bottom: 40px

.price-description_description
  font-size: 16px
  line-height: 160%
  color: #333333

.price-description_table
  padding-top: 180px