table.table-list
  tr.table-list_row
    td.table-list_row-item.table-list_row-title Название процедуры
    td.table-list_row-item.table-list_row-title Длительность процедуры
    td.table-list_row-item.table-list_row-title Цена
  tr.table-list_row
    td.table-list_row-item SMAS лифтинг HIFU Sofia
    td.table-list_row-item 1 час 30 минут
    td.table-list_row-item 1925 грн
  tr.table-list_row
    td.table-list_row-item Пикосекундный неодимовый лазер Pico-Light 10
    td.table-list_row-item 1 час 30 минут
    td.table-list_row-item 1925 грн
  tr.table-list_row
    td.table-list_row-item Лазерная эпиляция. Диодный лазер D-las 70
    td.table-list_row-item 1 час 30 минут
    td.table-list_row-item 1925 грн