.table-list
  background: #F4F4FA
  width: 100%

.table-list_row
  padding: 30px 40px
  display: flex
  justify-content: space-between

.table-list_row-item
  font-weight: 300
  font-size: 16px

.table-list_row-main
  display: flex
  justify-content: space-between
  padding: 40px 40px
  border-bottom: 1px solid #27282B
  .table-list_row-item:nth-child(1)
    width: 530px
    text-align: center
  .table-list_row-item:nth-child(2)
    width: 270px
    text-align: center
  .table-list_row-item:nth-child(3)
    width: 230px
    text-align: center

.table-list_row-title
  font-size: 20px
  font-weight: 600
  letter-spacing: -0.03em
  color: #000000

.table-list_row
  .table-list_row-item:nth-child(1)
    width: 530px
  .table-list_row-item:nth-child(2)
    width: 270px
    text-align: center
  .table-list_row-item:nth-child(3)
    width: 230px
    text-align: center

.table-list_row:nth-child(2n+1)
  background: #FBFBFD