.tabs-table
  ul.tabs-table_tabs
    - var tabsList = ['Косметология','Стилист','Массаж','Ногтевой сервис','Beauty face'];
      each item in tabsList
        li.tabs-table_tabs-item= item
  ul.tabs-table_content
    - for (var i = 0; i < 5; i++) {
        li.tabs-table_content-item
          include ../table-list/table-list
    - }
  .tabs-table_btn
    include ../button/button
    +button('red', 'Забронировать', '#')