mixin reviews(positionClass)
  section(class="reviews reviews--#{positionClass}")
    .reviews_wrap
      h2.reviews_title Отзывы о нашем сервисе
      ul.reviews_slider
        - var revList = ['Max', 'Lina', 'Maha', 'Linda', 'Misha', 'Ulya'];
        each item in revList
          li.reviews_slider-item
            .reviews_slider-item-content
              .reviews_item-client
                .reviews_client-avatar
                  img(src="images/ava.png", alt="ava")
                .reviews_client-data
                  .reviews_data-name #{item}
                  .reviews_data-position 2gis
              .reviews_item-text Посетил на днях этот замечательный салон, всем очень доволен, не помню имя мастера, но подстригли идеально, сервис также на высоте. Теперь только к Вам. Спасибо большое!