.reviews
  padding: 200px 0
  background-color: #e5e5e5

.reviews_wrap
  max-width: 1170px
  padding: 0 15px
  margin: 0 auto
  position: relative
  .slick-arrow
    position: absolute
    top: 50%
    font-size: 0
    width: 30px
    height: 30px
    background-color: transparent
    border: none
    border-left: 2px solid #A4A7AD
    border-bottom: 2px solid #A4A7AD
  .slick-prev
    left: -80px
    transform: translateY(-50%) rotate(45deg)
  .slick-next
    right: -80px
    transform: translateY(-50%) rotate(-135deg)

.reviews_title
  font-size: 66px
  line-height: 79px
  text-align: center
  letter-spacing: 0.07em
  text-transform: uppercase;
  color: #27282B
  margin-bottom: 88px

.reviews_slider-item
  padding: 0 15px

.reviews_slider-item-content
  background: #FFFFFF
  border: 1px solid #F2F2F2
  box-sizing: border-box
  padding: 40px

.reviews_item-client
  display: flex
  align-items: center
  margin-bottom: 20px

.reviews_client-avatar
  width: 60px
  height: 60px
  border-radius: 50%
  overflow: hidden
  img 
    width: 100%
    height: 100%
    object-fit: cover

.reviews_client-data
  padding-left: 20px

.reviews_data-name
  font-size: 16px
  line-height: 145%
  letter-spacing: -0.03em
  color: #27282B
  margin-bottom: 5px

.reviews_data-position
  font-size: 14px
  line-height: 145%
  letter-spacing: -0.03em
  color: #828282

.reviews_item-text
  font-size: 16px
  line-height: 160%
  color: #4F4F4F