.advantages-card
  include ../icon/icon
  +icon('price-tag', true).advantages-card_icon
  .advantages-card_content
    .advantages-card_content-title Ценовая политика
    .advantages-card_content-text Мы не ориентируемся на конкурентов, стоимость наших услуг всегда адекватно обоснована нашей квалификацией, качеством материалов и сервисом