.advantages-card
  display: flex
  align-items: center
  @media screen and (max-width: 1024px)
    justify-content: center
  @media screen and (max-width: 480px)
    flex-direction: column

.advantages-card_content
  max-width: 570px
  padding-left: 60px
  @media screen and (max-width: 1024px)
    max-width: 70%
  @media screen and (max-width: 480px)
    max-width: 100%
    padding-left: 0
    text-align: center

.advantages-card_content-title
  font-size: 34px
  line-height: 41px
  font-weight: 900
  color: #FFF
  margin-bottom: 40px

.advantages-card_content-text
  font-size: 20px
  line-height: 140%
  font-weight: 300
  color: #E0E0E0

.advantages-card_icon
  width: 80px
  height: 80px
  @media screen and (max-width: 480px)
    margin-bottom: 30px