mixin about-main(positionClass)
  section(class="about-main about-main--#{positionClass}")
    .about-main_wrap
      .about-main_content
        .about-main_content-slider
          img(src="images/about-slide_1.jpg", alt="image")
          img(src="images/about-slide_2.jpg", alt="image")
          img(src="images/about-slide_3.jpg", alt="image")
          img(src="images/about-slide_4.jpg", alt="image")
        .about-main_content-description
          h2.about-main_description-title салон красоты
          .about-main_description-text Образцовое обслуживание, непревзойденный сервис, лучшие продукты и оборудование на рынке - это стандарты нашего салона, которые непосредственно отражают личные ценности и нрав Елены Ракицкой - это дух искренней и внимательной заботы о своем клиенте. Мы полны решимости предоставить наилучший сервис по доступной цене. Мы понимаем людей, которые сталкиваются с финансовыми трудностями в наши дни, и прилагаем все усилия.
      .about-main_slider-nav
        ul.about-main_slider-list
          - var sliderIndex = ['1', '2', '3', '4'];
          each item in sliderIndex
            li.about-main_list-item
              img(src="images/about-slide_#{item}.jpg", alt="slide")
                    