.contact-block
  background-color: #e5e5e5

.contact-block_wrap
  max-width: 1170px
  padding: 200px 15px
  margin: 0 auto
  display: flex
  align-items: center
  
.contact-block_content
  width: 570px

.contact-block_title
  font-size: 66px
  line-height: 79px
  letter-spacing: 0.07em
  text-transform: uppercase
  margin-bottom: 40px
  color: linear-gradient(141.2deg, #3D3D48 6.81%, #070B0C 75.75%)