mixin contact-block(positionClass)
  section(class="contact-block contact-block--#{positionClass}")
    .contact-block_wrap
      .contact-block_content
        h2.contact-block_title Оставайтесь на связи
        ul.contact-block_list
          li.contact-block_list-item
            img(src="images/phone-call.svg", alt="icon").contact-block_list-item-icon
            a(href="tel:+").contact-block_item-link +38 068 097 86 84
            a(href="tel:+").contact-block_item-link +38 099 559 36 95
          li.contact-block_list-item
            img(src="images/envelope.svg", alt="icon").contact-block_list-item-icon
            a(href="mailto:").contact-block_item-link info@rakitskaya.studio
          li.contact-block_list-item
            img(src="images/placeholder.svg", alt="icon").contact-block_list-item-icon
            a(href="#", target="_blank", rel="noopener noreferrer").contact-block_item-link Ул. Олеся Гончара, 6
      .contact-block_map
        .contact-block_map-content
          .contact-block_map-content-wrap
            .contact-block_map-content-bg
              img(src="images/contact-bg-content.png", alt="position")
            .contact-block_map-adress Ул. Олеся Гончара, 6
            a(href="#").contact-block_map-link Посмотреть на карте
        img(src="images/map-position.svg", alt="place").contact-block_map-place
        .contact-block_map-img
          img(src="images/map.svg", alt="map")