footer.footer
  .footer_wrap
    include ../logo/logo
    +logo('footer')
    include ../nav/nav
    +nav('footer')
  .footer_allright 
    a(href="https://absolute.international" target="_blank") Rakitskaya Studio. Development by AS - All right reserves