.masters
  background: linear-gradient(121.86deg, #3D3D48 6.81%, #070B0C 75.75%)

.masters_wrap
  max-width: 1620px
  padding: 150px 15px
  margin: 0 auto

.masters_title
  font-size: 66px;
  letter-spacing: 0.07em
  text-transform: uppercase
  color: #FFFFFF
  text-align: center
  margin-bottom: 40px

.masters_text
  font-size: 16px
  line-height: 160%
  color: #FFFFFF
  margin: 0 auto
  margin-bottom: 80px
  max-width: 1170px

.masters_cards-title
  font-size: 46px
  color: #FFFFFF
  text-align: center
  margin-bottom: 40px

.masters_cards-list
  display: flex
  justify-content: space-around
  flex-wrap: wrap

.masters_list-item
  margin-bottom: 30px